<%- include('Header') %>

  <section class="section-about">
    <div class="container">
      <h2 class="section-common-heading">About Thapa EduHub</h2>
      <p class="section-common-subheading">Guiding Your Learning Journey through Research, Design, and
        Development Excellence.</p>
    </div>

    <div class="container grid grid--three-cols">

      <div class="about-div">
        <div class="icon">
          <img src="./images/research.png" alt="">
        </div>
        <h3 class="section-common--title">Research</h3>
        <p>We start by learning what you need. We look at what's new and exciting in learning and choose topics
          that match what you want to learn.</p>
      </div>

      <div class="about-div">
        <div class="icon">
          <img src="./images/design.png" alt="">
        </div>
        <h3 class="section-common--title">Design</h3>
        <p>Next, we make the lessons. We make them fun and interesting for you. We make sure they work for
          different ways people like to learn.</p>
      </div>

      <div class="about-div">
        <div class="icon">
          <img src="./images/Coding.png" alt="">
        </div>
        <h3 class="section-common--title">Development</h3>
        <p>After that, we turn the lessons into things you can use online. We use the latest tools to make sure
          they work well and make you happy.</p>
      </div>
    </div>
  </section>

  <!-- contact home Section -->

  <div class="section-contact--homepage" id="section-contact--homepage">
    <div class="container grid grid--two-cols">
      <div class="contact-content">
        <h2 class="contact-title">Let's revolutionize the way you study</h2>
        <p>Join our free bootcamps to know us better</p>
        <div class="btn">
          <a href="contact.html">
            start now <i class="fa-solid fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="contact-image">
        <img src="images/main.png" alt="a guy doing coding">
      </div>
    </div>
  </div>
  <%- include('Footer') %>