<%- include('Header') %>

    <!-- blog section -->

    <div class="section-blog">
        <div class="container">
          <h2 class="section-common-heading">Explore Our Blog</h2>
          <p class="section-common-subheading">
            Explore our blog for insightful articles, tips, and updates on the
            world of education, skill development, and personal growth.
          </p>
        </div>
  
        <div class="container grid grid--four-cols">

          <div class="blog">
            <figure>
              <img
                src="https://images.pexels.com/photos/1181373/pexels-photo-1181373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="a guy writing code"
              />
            </figure>
            <div class="blog-content">
              <div class="blog-date">
                <p><i class="fa-calendar fa-solid"></i> JAN 1 2024</p>
                <p><i class="fa-solid fa-arrow-right"></i></p>
              </div>
              <h3 class="section-common--title">
                Code your first react app with us
              </h3>
            </div>
          </div>
  
          <div class="blog">
            <figure>
              <img
                src="https://images.pexels.com/photos/11035396/pexels-photo-11035396.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt=""
              />
            </figure>
            <div class="blog-content">
              <div class="blog-date">
                <p><i class="fa-calendar fa-solid"></i> JAN 1 2024</p>
                <p><i class="fa-solid fa-arrow-right"></i></p>
              </div>
              <h3 class="section-common--title">
                Code your first react app with us
              </h3>
            </div>
          </div>
  
          <div class="blog">
            <figure>
              <img
                src="https://images.pexels.com/photos/4389463/pexels-photo-4389463.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt=""
              />
            </figure>
            <div class="blog-content">
              <div class="blog-date">
                <p><i class="fa-calendar fa-solid"></i> JAN 1 2024</p>
                <p><i class="fa-solid fa-arrow-right"></i></p>
              </div>
              <h3 class="section-common--title">
                Code your first react app with us
              </h3>
            </div>
          </div>
  
          <div class="blog">
            <figure>
              <img
                src="https://images.pexels.com/photos/3861961/pexels-photo-3861961.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt=""
              />
            </figure>
            <div class="blog-content">
              <div class="blog-date">
                <p><i class="fa-calendar fa-solid"></i> JAN 1 2024</p>
                <p><i class="fa-solid fa-arrow-right"></i></p>
              </div>
              <h3 class="section-common--title">
                Code your first react app with us
              </h3>
            </div>
          </div>
          
        </div>
      </div>

    <!-- contact home Section -->

    <div class="section-contact--homepage" id="section-contact--homepage">
        <div class="container grid grid--two-cols">
          <div class="contact-content">
            <h2 class="contact-title">Let's revolutionize the way you study</h2>
            <p>Join our free bootcamps to know us better</p>
            <div class="btn">
              <a href="contact.html">
                start now <i class="fa-solid fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

          <div class="contact-image">
            <img src="images/main.png" alt="a guy doing coding">
          </div>
        </div>
      </div>

  <%- include('Footer') %>
