<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>kunal tech hub</title>
</head>

<body>

    <header class="section-navbar">
        <div class="container">
            <div class="navbar-brand">
                <a href="index.html">
                    <img src="images/logo.png" alt="" width="50px" height="48px">
                </a>
            </div>
            <nav class="navbar">
                <ul>
                    <li class="nav-item">
                      <a class="nav-link" href="/"> home </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="about"> about </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="service"> services </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="blog"> blog </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact"> contact </a>
                    </li>
                  </ul>
            </nav>
        </div>
    </header>
